.wrapper {

}

.labelText {
	display: block;
	margin-bottom: 8px;
}

.textarea {
	display: block;
	width: 300px;
	min-height: 300px;
	resize: none;
	border: 2px solid royalblue;
	border-radius: 8px;
	padding: 8px 16px;
}
